*.o
*.gcno
*.gcda
*~
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
Makefile
config.h
config.log
config.status
libtool
raft.pc
stamp-h1
*.lo
*.la
.dirstamp
.deps/
.libs/
unit-test*
integration-test*
test-suite.log
tests/main_test.c
coverage/
TAGS
example-server