*.o
*.gcno
*.gcda
*~
Makefile.in
aclocal.m4
aminclude_static.am
autom4te.cache/
config.h.in
configure
Makefile
config.h
config.log
config.status
libtool
raft.pc
stamp-h1
*.lo
*.la
.dirstamp
.deps/
.libs/
test/unit/core
test/unit/uv
test/integration/core
test/integration/uv
test/fuzzy/core
test/*/*.log
test/*/*.trs
os-test*
test-suite.log
coverage/
coverage.info
TAGS
example/server
example/cluster
benchmark/os-disk-write
tmp
conftest*
doc/build